.form {
  padding: 30px 0;

  background-color: $color-primary;

  &__container {
    display: grid;

    @extend %container;
    gap: $gap;
    @include lg-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: 1fr 1fr;
    }
  }

  &-item {
    @include md-sm {
      &:nth-of-type(1) {
        grid-column: 1 / span 2;
      }
    }
    &__input {
      width: 100%;
      height: 60px;
      padding: 0 30px;

      transition: background-color 0.5s;
      letter-spacing: 0.15em;

      color: $color-light;
      border: 2px solid rgba($color-light, 0);
      border-bottom-color: rgba($color-light, 0.25);
      background-color: rgba($color-light, 0.05);

      font-size: 1.125rem;

      &::placeholder {
        color: rgba($color-light, 0.51);
      }

      &:hover,
      &:focus {
        border-color: rgba($color-light, 0.15);
        border-bottom-color: $color-light;
        outline: none;
        background-color: rgba($color-light, 0.15);

        &::placeholder {
          color: $color-light;
        }
      }
    }
    .btn--primary {
      width: 100%;

      letter-spacing: 0.1em;

      color: $color-light;
      border-color: rgba($color-light, 0);
      border-bottom-color: rgba($color-light, 0.2);
      background-color: rgba($color-light, 0.1);

      @include sm-min {
        min-width: auto;
      }

      &:hover,
      &:focus {
        cursor: pointer;

        border-color: $color-light;
      }
    }
  }
}
